@import "tailwindcss";
@import "../styles/fonts.css";
@import "../styles/custom-tailwind.css";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}
.max-container {
  max-width: 430px;
  margin: 0 auto;
  padding: 0 20px;
}
.auth-title {
  font-size: 1.5rem;
  line-height: 140%;
  font-weight: 700;
}
.auth-layout input {
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.3px;
}
.auth-layout input::placeholder {
  padding-left: 20%;
  color: #475569;
}
.auth-layout .ant-form-item {
  margin: 0 !important;
}
.signup .ant-segmented-item {
  width: 50%;
}

.auth-layout .ant-checkbox .ant-checkbox-inner {
  width: 24px !important;
  height: 24px !important;
}
.auth-layout .ant-checkbox .ant-checkbox-inner::after {
  width: 8px !important;
  height: 14px !important;
}
.auth-layout .ant-checkbox-label {
  width: 100% !important;
  color: #fff;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.3px;
}

.signup-segment .ant-segmented-thumb-motion-appear {
  background-color: #546fff !important;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
    height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.signup-segment .ant-segmented-thumb-motion-appear-active {
  background-color: #546fff !important;

  transition: transform 0 cubic-bezier(0.645, 0.045, 0.355, 1),
    width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.signup-segment .ant-segmented-item-selected {
  background-color: #546fff !important;
}
.signup-segment .ant-segmented-item-selected .ant-segmented-item-label {
  font-weight: 700 !important;
}

/* Girl */

.signup-segment.girl .ant-segmented-thumb-motion-appear-active {
  background-color: #ff63bb !important;

  transition: transform 0 cubic-bezier(0.645, 0.045, 0.355, 1),
    width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.signup-segment.girl .ant-segmented-item-selected {
  background-color: #ff63bb !important;
}

/* Footer Icons */
.footer-icon.active path {
  fill: #ff63bc;
  stroke: #ff63bc;
}
.footer-icon.active:nth-child(4) path:nth-child(1) {
  fill: #ff63bc;
  stroke: #ff63bc;
}
.footer-icon.active:nth-child(4) path {
  fill: #ff63bc;
  stroke: #0f080a;
}
.footer-icon.active svg {
  fill: #ff63bc;
  stroke: #ff63bc;
}
