@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-rubik: "Rubik Mono One", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --color-yellow: #f7b940;
  --color-miscellaneous: #f5f5f5;
  --color-primary: "#006AE5";
}
