@theme {
  --font-poppins: "Poppins";
  --font-rubik: "Rubik Mono One";
  --font-urbanist: "Urbanist", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --color-yellow: #f7b940;
  --color-miscellaneous: #f5f5f5;
  --color-primary: #006ae5;
  --color-white70: rgba(255, 255, 255, 0.7);
  --color-gray: #bababa;
  --color-pink: #ff63bb;
  --color-red: #db2719;
  --color-darkgray: #39393d;
}
