/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v22-latin/poppins-v22-latin-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/poppins-v22-latin/poppins-v22-latin-500.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/poppins-v22-latin/poppins-v22-latin-600.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/poppins-v22-latin/poppins-v22-latin-700.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/poppins-v22-latin/poppins-v22-latin-800.woff2")
    format("woff2");
}

/* urbanist */

@font-face {
  font-display: swap;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Urbanist/static/Urbanist-Light.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Urbanist/static/Urbanist-Regular.ttf") format("ttf");
}
@font-face {
  font-display: swap;
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/Urbanist/static/Urbanist-Medium.ttf") format("ttf");
}

/* rubik-mono-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik Mono One";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/rubik/rubik-mono-one-v18-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* plus-jakarta-sans-regular - latin */
@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 200;
  src: url("../assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraLight.ttf")
    format("ttf");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 300;
  src: url("../assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf")
    format("ttf");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  src: url("../assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf")
    format("ttf");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  src: url("../assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf")
    format("ttf");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  src: url("../assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf")
    format("ttf");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  src: url("../assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf")
    format("ttf");
}
@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  src: url("../assets/fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBold.ttf")
    format("ttf");
}
